@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "JosefinSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../public/fonts/JosefinSans-Regular.ttf) format("woff2");
  }
}
@layer base {
  @font-face {
    font-family: "JosefinSansBold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../public/fonts/JosefinSans-Bold.ttf) format("woff2");
  }
}

:root {
  line-height: 1.5;
  color: hsl(235, 19%, 35%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
